@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

<ul class="navbar-nav ms-auto">
  @if (SignInManager.IsSignedIn(User))
  {
    @*    <li class="nav-item">
  <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
  </li>
  <li class="nav-item">
  <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
  <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
  </form>
  </li>*@
    <li class="dropdown text-end ">
      <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
      </a>
      <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Perfil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li>
          <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="dropdown-item">Cerrar sesion</button>
          </form>
        </li>
      </ul>
    </li>
  }
  else
  {
    <a type="button" class="btn btn-outline-secondary me-2" asp-area="Identity" asp-page="/Account/Register">
      <i class="fas fa-user-edit mx-2"></i>Registrar
    </a>
    <a type="button" class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Login">
      <i class="fas fa-sign-in-alt mx-2"></i>Iniciar sesion
    </a>
    @*<li class="nav-item">
  <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
  </li>
  <li class="nav-item">
  <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
  </li>*@
  }
</ul>