@{
  ViewData["Title"] = "Index";
}

<table class="table">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Correo</th>
    </tr>
  </thead>
  <tbody>
@*    @foreach(var user in )
    {

    }*@
  </tbody>
</table>